{% extends "base.html" %}
{% load static %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post-detail.css'%}">
{% endblock css_files %}


{% block title %}
Post detail
{% endblock title %}


{% block content %}
<article class="post">
    
        <img src="{{ post.image.url }}" alt="This is a mountain">
        <div class="post__content">
            <h3>{{post.title}}</h3>
            <p>{{post.content}}</p>

            <br/>
            <br/>
            <h5>{{post.author}}</h5>
            <p>{{post.date}}</p>
        </div>
        
</article>
<div class="comments-list">
    
<ul>
    {% for comment in comments  %}
        <li>
            <h2>{{comment.user_name}}</h2>
            {{comment.text}}
        </li>
    {% endfor %}
</ul>
        
</div>
<div class="comment-form">
    <form action="{% url 'post-detail-page' post.slug %}" method="POST">
        {% csrf_token %}
        
        {% for form_field in comment_form %}
        {{form_field.label}}
        {{form_field}}
        {{form_field.error}}
        {% endfor %}
        <button>Save Comment</button>
    </form>
    
</div>
{% endblock content %}