{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}{% endblock title %}</title>
    {% block css_files %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
    {% endblock css_files %}
</head>
<body>
  <header class="smc-main-navigation">
    <h1 class="smc-logo"><a href="{% url 'starting-page' %}">SMC Blog</a></h1>
    <nav class="smc-nav">
      <a class="smc-nav-link" href="{% url 'posts-page' %}">All Posts</a>
    </nav>
  </header>
  
  {% block content %}
  {% endblock content %}
</body>
</html>
