<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}My Challenges{% endblock page_title %}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Play:wght@400;700&display=swap');
    </style>
    {% block css_files %}{% endblock css_files %}
</head>
<body id="main-content">
   {% block content %}
   {% endblock content %} 
</body>
</html>